services:
  db:
    image: postgis/postgis:latest
    container_name: postgis
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: v2x_db
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
  
  redis:
    image: redis
    container_name: redis
    ports:
      - 6379:6379
    
  emqx:
    image: emqx/emqx:latest
    container_name: emqx
    ports:
      - 1883:1883
      - 8083:8083
      - 8883:8883
      - 8084:8084
    
  